

<!-- <style>
    body {
      background-image: url('Aatrox_0.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
    }
    </style> -->
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/champ_page.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAMPION PAGE</title>
</head>

<body>
    <div id="champion" style="position:absolute; left:150px; top:150px;">
        <!-- <img id="champion" onload="insertImg()"> -->
     </div>
    <div id="box", style = "position:absolute; left:447px; top:140px;">
        <font color = "#FFD700" face = "Beaufort" size =" 10" style = "position:absolute; left:240px; top:20px;"></font><br />
      </div>
    <div class="winrate", style = "position:absolute; left:527px; top:280px;">
        <font color = "#FFD700" size =" 10" style = "position:relative; left:15px; top:25px;">Win Rate:</font><br />
     </div>
    <div id="winrate_data", style = "position:absolute; left:767px; top:280px;">
        <font color = "#FFD700" size =" 10" style = "position:relative; left:40px; top:25px;"></font><br />
     </div>
     <div class="pickrate", style = "position:absolute; left:546px; top:380px;">
      <font color = "#FFD700" size =" 10" style = "position:relative; left:15px; top:25px;">Pick Rate:</font><br />
    </div>
    <div id="pickrate_data", style = "position:absolute; left:767px; top:330px;">
      <font color = "#FFD700" size =" 10" style = "position:relative; left:40px; top:75px;"></font><br />
    </div>
    <div class="games", style = "position:absolute; left:546px; top:460px;">
      <font color = "#FFD700" size =" 10" style = "position:relative; left:15px; top:25px;">Games:</font><br />
    </div>
    <div id="games_data", style = "position:absolute; left:767px; top:330px;">
      <font color = "#FFD700" size =" 10" style = "position:relative; left:40px; top:75px;"></font><br />
    </div>
</body>
<script>
    function regexMatch(str) {
      const regex = /static[\/\\]img[\/\\]splash[\/\\]([a-zA-Z'.& ]+)_0\.jpg/;
      
      const match = str.match(regex);
      
      if (match) {
          return match[1];
      } else {
          return null;
      }
    }

    // search for query parameters
    var qs = new URLSearchParams(window.location.search);
    var loading = qs.get('loading');
    var splash = qs.get('splash');
    var wr = qs.get('win');
    var pr = qs.get('pickr')
    var games = qs.get('games')

    // insert loading image
    let img = document.createElement('img');
    img.src = loading;
    console.log(img.src);
    document.getElementById('champion').appendChild(img);

    // insert splash image 
    var style = document.createElement('style');
    style.innerHTML = `body{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.43);
        background-blend-mode: darken; 
        background-size: 100% 100%;
    }`;
    document.body.background = splash;
    document.head.appendChild(style);

    // insert title
    var title = document.createElement("H1");
    const temp = regexMatch(splash);
    var text = document.createTextNode(temp);
    title.appendChild(text);
    title.style.color = "#FFD700";
    title.style.fontSize = "50";
    title.style.textAlign = "center";
    document.getElementById('box').appendChild(title);

    // insert wr
    var title = document.createElement("font");
    var text = document.createTextNode(wr + "%");
    title.appendChild(text);
    title.style.color = "#FFD700";
    title.style.fontSize = "50";
    title.style.textAlign = "center";
    title.style.position = "relative";
    title.style.left = "20px";
    title.style.top = "10px";
    document.getElementById('winrate_data').appendChild(title);

    // insert pr
    var title = document.createElement("font");
    var text = document.createTextNode(pr + "%");
    title.appendChild(text);
    title.style.color = "#FFD700";
    title.style.fontSize = "50";
    title.style.textAlign = "center";
    title.style.position = "relative";
    title.style.left = "40px";
    title.style.top = "60px";
    document.getElementById('pickrate_data').appendChild(title);

    // insert games
    var title = document.createElement("font");
    var text = document.createTextNode(games);
    title.appendChild(text);
    title.style.color = "#FFD700";
    title.style.fontSize = "50";
    title.style.textAlign = "center";
    title.style.position = "relative";
    title.style.left = "40px";
    title.style.top = "140px";
    document.getElementById('games_data').appendChild(title);
</script> 
</html>