<!-- <!DOCTYPE html>
<html lang="en">
<body>
    <img src="static/img/portraits/Aatrox.webp" alt="Aatrox">
    <div>
         
    </div>
</body>
</html> -->


{% block head%}
<title>STATCHECKED</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<!-- <h1 align="center">Statchecked</h1> -->

<center>
    <div class="container">
        <div class="shadows">
            <span>S</span>
            <span>T</span>
            <span>A</span>
            <span>T</span>
            <span>C</span>
            <span>H</span>
            <span>E</span>
            <span>C</span>
            <span>K</span>
            <span>E</span>
            <span>D</span>

        </div>
    </div>
</center>
<center>
    <div class="images">
        {% for tile, splash, loading in pics %}
        <a href="{{ url_for('champ_page') }}?loading={{loading}}&splash={{splash}}"><img src="{{tile}}" alt="{{tile}}"></a>
        {% endfor %}
    </div>
</center>
{% endblock %}